html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    |  
    script(src='javascripts/jQuery.1.10.2.js')
    script(src='javascripts/notify.js')
    |     
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    |   
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    |   
    script(src='javascripts/login.js')
  body
    .container
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-login
            .panel-heading
              .row
                .col-xs-6
                  a#login-form-link.active(href='#') Login
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-xs-6
                  a#register-form-link(href='#') Register
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              hr
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .panel-body
              .row
                .col-lg-12
                  form#login-form(action='', method='post', role='form', style='display: block;')
                    .form-group
                      input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                     
                       
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      .row
                        .col-sm-6.col-sm-offset-3
                          input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                     
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  form#register-form(action='', method='get', role='form', style='display: none;')
                    .form-group
                      input#uname.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      input#email.form-control(type='text', name='email', tabindex='1', placeholder='Email Address', value='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      input#pass.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      input#repass.form-control(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .form-group
                      .row
                        .col-sm-6.col-sm-offset-3
                          input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
